<!DOCTYPE html>
<html>
<head>
    <title>
        RhymeBot
    </title>
    <style type="text/css">
    a:link { color: red; text-decoration: none;}
    a:visited { color: #21BBCC; text-decoration: none;}
    a:hover { color: ##21BBCC; text-decoration: underline;}
    </style>
    <link href="https://fonts.googleapis.com/css?family=Butcherman&display=swap" rel="stylesheet">
    <style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    input, button, label {
      display: block;
      margin: 0 auto;
    }

    body {
      width: 600px;
      border: 1px solid black;
      margin: 140px auto;
    }

    </style>
</head>
<body>
        <h1 align="center" style="font-family: 'Butcherman', cursive;"><a href="https://agile-lowlands-39968.herokuapp.com/"> RhymeBot  </a></h1>
        <h3 align="center"> 더 나은 프로그램을 만드는 데 도움을 주셔서 감사합니다! </br></h3>
        <h3 align="center"><a href="https://agile-lowlands-39968.herokuapp.com/"> 홈으로 돌아가기 </a></h3>
</body>
</html>
